<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/CSS/styles.css">
         <link rel="icon" href="/images/weather.png">
            <script src="/js/app.js"></script>
        <title>Help</title>
       
    </head>
    <body>
        {{!-- partials header file --}}
        <div class="main-content">
        {{>header}}
        
        <p>your helped by {{name}}</p>
        </div>

         {{>footer}}
    </body>
</html>