{{!-- <h1>static header.hbs Text</h1> --}}
{{!-- <!DOCTYPE html>
<html>
<h1>{{title}}</h1>
<div>
    <a href="/">weather</a>
    <a href="/temabout">About</a>
    <a href="/temhlp">Help</a>
</div>
</html> --}}
<h1>{{title}}</h1>
<div>
    <a href="/">weather</a>
    <a href="/temabout">About</a>
    <a href="/temhlp">Help</a>
</div>